
.img {
    height: 300px;
    width: 300px;
}
.img:hover {
  width: 335px;
  transition: width 1s, height 2s;
}
.container{
  padding-top: 5%;
  padding-bottom: 20%;
}
.para1 {
  float: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }